Repository pwwang/pipen-report: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
    # -   id: end-of-file-fixer
    -   id: check-yaml
        exclude: 'mkdocs.yml'
-   repo: local
    hooks:
    -   id: flake8
        name: Run flake8
        files: ^pipen_report/.+$
        pass_filenames: false
        entry: flake8
        args: [pipen_report]
        types: [python]
        language: system
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version " $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver pipen_report/versions.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|pipen_report/versions\.py$

chore: update copier dependency specifications for compatibility
  poetry.lock
  pyproject.toml
Due: versionchecker

refactor: simplify patch for copier to suppress UserWarning on path permissions
  pipen_report/__init__.py
  pipen_report/_patch_copier.py
Due: flake8

chore: bump up frontend dependencies
  pipen_report/frontend/package-lock.json
Due: none

1.2.1
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

chore: improve log message for cached report pages in ReportManager
  pipen_report/report_manager.py
Due: flake8

feat: add `dt` as alias of filter `datatable`
  pipen_report/filters.py
Due: flake8

chore: set header to 0 when header=True in datatable function
  pipen_report/filters.py
Due: flake8

feat: add default data to DataTable when only src is provided
  example/pipeline.py
  pipen_report/preprocess.py
Due: flake8

1.2.2
  docs/CHANGELOG.md
  pipen_report/frontend/package-lock.json
  pipen_report/versions.py
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

chore: switch to uv
  .codesandbox/setup.sh
  .github/copilot-instructions.md
  .github/workflows/build.yml
  .github/workflows/docs.yml
  poetry.lock
  pyproject.toml
  setup.py
  uv.lock
Due: versionchecker

chore(font): update carbon-preprocess-svelte version range for compatibility for node v20
  pipen_report/frontend/package-lock.json
  pipen_report/frontend/package.json
Due: none

chore: bump up pipen to v1.2
  pyproject.toml
  tests/test_utils.py
  uv.lock
Due: versionchecker

fix: resolve symlink path for output directory in ReportManager
  pipen_report/report_manager.py
Due: flake8

1.2.3
  pipen_report/versions.py
  pyproject.toml
  uv.lock
Due: flake8, versionchecker

docs: update logo
  README.md
  docs/logo.png
Due: none

fix: update mounted path handling in ReportManager for remote schedulers to adopt pipen v1.2
  pipen_report/report_manager.py
  pyproject.toml
  uv.lock
Due: flake8, versionchecker

1.2.4
  pipen_report/frontend/package-lock.json
  pipen_report/versions.py
Due: flake8, versionchecker

chore: update dependencies
  uv.lock
Due: none

feat(filters.datatable): all comment in input files by default
  pipen_report/filters.py
  tests/data/data3.csv
  tests/test_filters.py
Due: flake8

1.2.5
  docs/CHANGELOG.md
  pipen_report/frontend/package-lock.json
  pipen_report/versions.py
Due: flake8, versionchecker

feat(frontend): compile node_modules once into shared vendor chunks
  pipen_report/frontend/package-lock.json
  pipen_report/frontend/public/index.html
  pipen_report/frontend/rollup.config.js.jinja
  pipen_report/report_manager.py
  pipen_report/report_plugin.py
Due: flake8

docs: add VENDOR_CHUNKS.md handover doc and dev verification scripts
  docs/shared-chunks/VENDOR_CHUNKS.md
  docs/shared-chunks/check-chunks.mjs
  docs/shared-chunks/run-pages.mjs
Due: none

fix(report_manager): enhance error logging for ignored zod module
  pipen_report/frontend/package-lock.json
  pipen_report/report_manager.py
Due: flake8

feat(footer): conditionally display notification for multiple jobs for runinfo
  example/pipeline.py
  pipen_report/frontend/src/layouts/Footer.svelte
  pipen_report/report_manager.py
  uv.lock
Due: flake8

1.2.6
  docs/CHANGELOG.md
  pipen_report/versions.py
Due: flake8, versionchecker
