Repository pwwang/pipen-report: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - pipen_report
  language: system

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  ...

🔖 0.4.5
  docs/CHANGELOG.md
  pipen_report/cli.py
  pipen_report/manager.py
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

[0.4.5] Upgrade pipen to 0.3.6
  docs/CHANGELOG.md
  poetry.lock
Due: none

⬆️ Bump pipen to 0.3.8
  poetry.lock
  pyproject.toml
Due: versionchecker

✨ Added cli
  README.md
  pipen_report/cli.py
  pipen_report/defaults.py
  pipen_report/filters.py
  pipen_report/frontend/package-lock.json
  pipen_report/frontend/package.json
  pipen_report/frontend/public/assets/favicon.png
  pipen_report/frontend/public/assets/global.css
  pipen_report/frontend/public/assets/inject.js
  pipen_report/frontend/public/index.tpl.html
  pipen_report/frontend/public/proc.tpl.html
  pipen_report/frontend/rollup.config.js
  pipen_report/frontend/src/components/DataTable/DataTable.svelte
  pipen_report/frontend/src/components/DataTable/DataTableInner.svelte
  pipen_report/frontend/src/components/DataTable/index.js
  pipen_report/frontend/src/components/DataTable/paginate.js
  pipen_report/frontend/src/components/Image/Image.svelte
  pipen_report/frontend/src/components/Image/ImageInner.svelte
  pipen_report/frontend/src/components/Image/index.js
  pipen_report/frontend/src/components/PageNavButton/PageNavButton.svelte
  pipen_report/frontend/src/components/PageNavButton/index.js
  pipen_report/frontend/src/components/index.js
  pipen_report/frontend/src/entries/index.js
  pipen_report/frontend/src/entry.tpl.js
  pipen_report/frontend/src/index.tpl.svelte
  pipen_report/frontend/src/layouts/Base.svelte
  pipen_report/frontend/src/layouts/Footer.svelte
  pipen_report/frontend/src/layouts/Index.svelte
  pipen_report/frontend/src/layouts/Proc.svelte
  pipen_report/frontend/src/layouts/ProcCard.svelte
  pipen_report/frontend/src/page.tpl.svelte
  pipen_report/frontend/src/pages/.keep
  pipen_report/frontend/src/toc.tpl.svelte
  pipen_report/manager.py
  pipen_report/preproc.py
  pipen_report/reporter.py
  pipen_report/utils.py
Due: flake8

Add frontend
  pipen_report/frontend/package.json
  pipen_report/frontend/public/assets/favicon.png
  pipen_report/frontend/public/assets/global.css
  pipen_report/frontend/public/index.html.jinja
  pipen_report/frontend/public/proc.html.jinja
  pipen_report/frontend/rollup.config.js
  pipen_report/frontend/src/components/DataTable/DataTable.svelte
  pipen_report/frontend/src/components/DataTable/DataTableInner.svelte
  pipen_report/frontend/src/components/DataTable/index.js
  pipen_report/frontend/src/components/DataTable/paginate.js
  pipen_report/frontend/src/components/Image/Image.svelte
  pipen_report/frontend/src/components/Image/ImageInner.svelte
  pipen_report/frontend/src/components/Image/index.js
  pipen_report/frontend/src/components/PageNavButton/PageNavButton.svelte
  pipen_report/frontend/src/components/PageNavButton/index.js
  pipen_report/frontend/src/components/Proc/Report.svelte
  pipen_report/frontend/src/components/Proc/Toc.svelte
  pipen_report/frontend/src/components/Proc/index.js
  pipen_report/frontend/src/components/index.js
  pipen_report/frontend/src/entries/index.js
  pipen_report/frontend/src/entry.js.jinja
  pipen_report/frontend/src/index.tpl.svelte
  pipen_report/frontend/src/layouts/Base.svelte
  pipen_report/frontend/src/layouts/Footer.svelte
  pipen_report/frontend/src/layouts/Index.svelte
  pipen_report/frontend/src/layouts/Proc.svelte
  pipen_report/frontend/src/layouts/ProcCard.svelte
  pipen_report/frontend/src/pages/.keep
  pipen_report/frontend/src/pages/page.svelte
Due: none

Fix sidenav
  pipen_report/cli.py
  pipen_report/frontend/src/layouts/Header.svelte
  pipen_report/frontend/src/layouts/Index.svelte
  pipen_report/frontend/src/layouts/Proc.svelte
  pipen_report/frontend/src/layouts/ProcLayout.svelte
  pipen_report/frontend/src/pages/proc/index.svelte
Due: flake8

Allow configs to be overwritten at runtime
  pipen_report/cli.py
  pipen_report/defaults.py
  pipen_report/frontend/rollup.config.js.jinja
  pipen_report/report_manager.py
  pipen_report/report_plugin.py
  pipen_report/utils.py
Due: flake8

Fix extlibs
  .gitignore
  pipen_report/frontend/package-lock.json
  pipen_report/frontend/public/data/.keep
  pipen_report/report_manager.py
  pipen_report/report_plugin.py
  pyproject.toml
  tests/pipelines/extlibs.py
  tests/pipelines/extlibs/Component.svelte
  tests/test_cli_inject.py
  tests/test_cli_update.py
  tests/test_manager.py
  tests/test_preproc.py
  tests/test_reporter.py
Due: flake8, versionchecker

Fix tests
  .github/workflows/build.yml
  docs/cli.md
  docs/configurations.md
  docs/folder-structure.md
  docs/writing.md
  pipen_report/cli.py
  pipen_report/report_manager.py
  poetry.lock
  pyproject.toml
  tests/test_cli.py
  tests/test_cli_update.py
  tests/test_preproc.py
Due: flake8, versionchecker

➕ Add copier as dep
  poetry.lock
  pyproject.toml
Due: versionchecker

🔖 0.5.0
  docs/CHANGELOG.md
  pipen_report/cli.py
  pipen_report/filters.py
  pipen_report/report_manager.py
  pipen_report/versions.py
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

📝 Get example output back
  .gitignore
  example/output/REPORTS/index/index.css
  example/output/REPORTS/index/index.js
  example/output/REPORTS/procs/datapreparation/index.css
  example/output/REPORTS/procs/datapreparation/index.html
  example/output/REPORTS/procs/datapreparation/index.js
  example/output/REPORTS/procs/datapreprocessing/index.css
  example/output/REPORTS/procs/datapreprocessing/index.html
  example/output/REPORTS/procs/datapreprocessing/index.js
  example/output/REPORTS/procs/deanalysis/index.css
  example/output/REPORTS/procs/deanalysis/index.html
  example/output/REPORTS/procs/deanalysis/index.js
Due: none

👷 Use latest actions
  .github/workflows/build.yml
  .github/workflows/docs.yml
Due: none

🐛 Add index.html so the reports work using file:// protocol
  pipen_report/frontend/src/layouts/Header.svelte
  pipen_report/frontend/src/layouts/ProcCard.svelte
Due: none

📝 Update example
  example/output/REPORTS/data/.keep
  example/output/REPORTS/index/index.js
  example/output/REPORTS/procs/datapreparation/index.js
  example/output/REPORTS/procs/datapreprocessing/index.js
  example/output/REPORTS/procs/deanalysis/index.js
Due: none

🐛 Fix toc with paging
  pipen_report/frontend/src/components/PageNavButton.svelte
  pipen_report/report_manager.py
Due: flake8

📝 Update example
  example/RNAseq-analysis.py
  example/output/REPORTS/index/index.js
  example/output/REPORTS/procs/datapreparation/index-1.css
  example/output/REPORTS/procs/datapreparation/index-1.html
  example/output/REPORTS/procs/datapreparation/index-1.js
  example/output/REPORTS/procs/datapreparation/index.js
  example/output/REPORTS/procs/datapreprocessing/index.js
  example/output/REPORTS/procs/deanalysis/index.js
  pipen_report/frontend/package-lock.json
Due: none

⬆️ Bump pipen to 0.5
  poetry.lock
  pyproject.toml
Due: versionchecker

🔖 0.6.0
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

⬆️ Update front deps
  pipen_report/frontend/package-lock.json
Due: none

Restore setup.py
  setup.py
Due: none

⬆️ Bump pipen to 0.6
  poetry.lock
  pyproject.toml
Due: versionchecker

🔖 0.7.0
  pipen_report/frontend/package-lock.json
  pipen_report/frontend/package.json
  pipen_report/versions.py
  pyproject.toml
  tests/pipelines/paging.py
Due: flake8, versionchecker

💄 Add single form of path alias
  pipen_report/frontend/rollup.config.js.jinja
Due: none

🔧 Change default port to 18520 for serve command
  pipen_report/cli.py
Due: flake8

⬆️ Update frontend deps
  pipen_report/frontend/package-lock.json
Due: none

🔖 0.7.1
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

🐛 Fix example
  example/output/ProcessNoTOC/placeholder.png
  example/output/ProcessWithPaging/placeholder.png
  example/pipeline.py
Due: none

🔖 0.7.2
  docs/CHANGELOG.md
  pipen_report/versions.py
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

⬆️ Update frontend deps
  pipen_report/frontend/package-lock.json
  pipen_report/frontend/package.json
Due: none

⬆️ Upgrade pipen to 0.7
  example/output/REPORTS/index/index.js
  example/output/REPORTS/procs/processnotoc/index.js
  example/output/REPORTS/procs/processwithpaging/index-1.js
  example/output/REPORTS/procs/processwithpaging/index-2.js
  example/output/REPORTS/procs/processwithpaging/index-3.js
  example/output/REPORTS/procs/processwithpaging/index.js
  poetry.lock
  pyproject.toml
Due: versionchecker

🎨 Use css grid for proc list
  example/output/REPORTS/assets/global.css
  example/output/REPORTS/index/index.css
  example/output/REPORTS/index/index.js
  pipen_report/frontend/public/assets/global.css
  pipen_report/frontend/src/layouts/ProcCard.svelte
  pipen_report/frontend/src/pages/_index/index.svelte
Due: none

🔖 0.8.0
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

⬆️ Bump pipen to 0.9 ⬆️ Drop support for python 3.7
  poetry.lock
  pyproject.toml
Due: versionchecker

⬆️ Upgrade frontend dependents
  example/output/REPORTS/index/index.js
  example/output/REPORTS/procs/processnotoc/index.js
  example/output/REPORTS/procs/processwithpaging/index-1.js
  example/output/REPORTS/procs/processwithpaging/index-2.js
  example/output/REPORTS/procs/processwithpaging/index-3.js
  example/output/REPORTS/procs/processwithpaging/index.js
  pipen_report/frontend/package-lock.json
  pipen_report/frontend/package.json
  pipen_report/frontend/rollup.config.js.jinja
Due: none

⬆️ Add pipen-filters as dev deps
  poetry.lock
  pyproject.toml
Due: versionchecker

🐛 Fix a11y warning for frontend
  pipen_report/frontend/rollup.config.js.jinja
Due: none

✅ Fix tests
  pipen_report/preprocess.py
  pipen_report/report_manager.py
  tests/__init__.py
  tests/pipelines/errant.py
  tests/pipelines/extlibs.py
  tests/pipelines/force_export.py
  tests/pipelines/index.py
  tests/pipelines/large.py
  tests/pipelines/markdown_.py
  tests/pipelines/noreport.py
  tests/pipelines/noreport2.py
  tests/pipelines/paging.py
  tests/pipelines/regular.py
  tests/pipelines/single.py
  tests/test_manager.py
  tests/test_preproc.py
  tests/test_reporter.py
Due: flake8

Path conditions:
  flake8: any of: ^pipen_report/.+$ and \.py$
  versionchecker: any of: ^pyproject\.toml|pipen_report/versions\.py$
