Repository pwwang/pipen-report: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
    # -   id: end-of-file-fixer
    -   id: check-yaml
        exclude: 'mkdocs.yml'
-   repo: local
    hooks:
    -   id: flake8
        name: Run flake8
        files: ^pipen_report/.+$
        pass_filenames: false
        entry: flake8
        args: [pipen_report]
        types: [python]
        language: system
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version " $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver pipen_report/versions.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|pipen_report/versions\.py$

Improve the indicator of groups in report index page
  example/output/REPORTS/assets/global.css
  example/output/REPORTS/index/index.js
  example/output/REPORTS/procs/PG1/index.js
  example/output/REPORTS/procs/PG2/index.js
  example/output/REPORTS/procs/ProcessNoTOC/index.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-1.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-2.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-3.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index.js
  example/output/REPORTS/procs/ProcessWithoutHeadings/index.js
  pipen_report/frontend/package-lock.json
  pipen_report/frontend/public/assets/global.css
  pipen_report/frontend/src/layouts/ProcGroupCard.svelte
  poetry.lock
Due: none

🔖 0.13.1
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

⬆️ Bump pipen to 0.12
  example/output/REPORTS/index/index.js
  example/output/REPORTS/procs/PG1/index.js
  example/output/REPORTS/procs/PG2/index.js
  example/output/REPORTS/procs/ProcessNoTOC/index.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-1.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-2.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-3.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index.js
  example/output/REPORTS/procs/ProcessWithoutHeadings/index.js
  poetry.lock
  pyproject.toml
Due: versionchecker

🔖 0.14.0
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

Bump up frontend packages to latest versions allowed
  pipen_report/frontend/package-lock.json
Due: none

Add ellipsis to procgroup card on index page
  example/output/REPORTS/data/placeholder.png.bb1a7f14
  example/output/REPORTS/index/index.js
  example/output/REPORTS/procs/PG1/index.js
  example/output/REPORTS/procs/PG2/index.js
  example/output/REPORTS/procs/ProcessNoTOC/index.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-1.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-2.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-3.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index.js
  example/output/REPORTS/procs/ProcessWithoutHeadings/index.js
  pipen_report/frontend/src/layouts/ProcGroupCard.svelte
Due: none

Add lazy loading for Image
  example/output/REPORTS/assets/global.css
  example/output/REPORTS/procs/PG1/index.js
  example/output/REPORTS/procs/PG2/index.js
  example/output/REPORTS/procs/ProcessNoTOC/index.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-1.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-2.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-3.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index.js
  example/output/REPORTS/procs/ProcessWithoutHeadings/index.js
  pipen_report/frontend/public/assets/global.css
  pipen_report/frontend/src/components/Image/Image.svelte
Due: none

Add Descr component to `$libs` to add styled description text
  example/output/REPORTS/procs/PG1/index.css
  example/output/REPORTS/procs/PG2/index.css
  example/output/REPORTS/procs/ProcessNoTOC/index.css
  example/output/REPORTS/procs/ProcessNoTOC/index.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-1.css
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-2.css
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-3.css
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index.css
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index.js
  example/output/REPORTS/procs/ProcessWithoutHeadings/index.css
  example/pipeline.py
  pipen_report/frontend/src/components/Descr.svelte
  pipen_report/frontend/src/components/index.js
Due: none

Add active nav item indicator
  example/output/REPORTS/assets/global.css
  example/output/REPORTS/procs/PG1/index.css
  example/output/REPORTS/procs/PG1/index.js
  example/output/REPORTS/procs/PG2/index.css
  example/output/REPORTS/procs/PG2/index.js
  example/output/REPORTS/procs/ProcessNoTOC/index.css
  example/output/REPORTS/procs/ProcessNoTOC/index.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-1.css
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-1.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-2.css
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-2.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-3.css
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-3.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index.css
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index.js
  example/output/REPORTS/procs/ProcessWithoutHeadings/index.css
  example/output/REPORTS/procs/ProcessWithoutHeadings/index.js
  example/pipeline.py
  pipen_report/frontend/public/assets/global.css
  pipen_report/frontend/src/layouts/ProcLayout.svelte
  pipen_report/frontend/src/layouts/ProcToc.svelte
Due: none

Bump frontend packages to latest versions
  example/output/REPORTS/index/index.css
  example/output/REPORTS/index/index.js
  example/output/REPORTS/procs/PG1/index.css
  example/output/REPORTS/procs/PG1/index.js
  example/output/REPORTS/procs/PG2/index.css
  example/output/REPORTS/procs/PG2/index.js
  example/output/REPORTS/procs/ProcessNoTOC/index.css
  example/output/REPORTS/procs/ProcessNoTOC/index.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-1.css
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-1.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-2.css
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-2.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-3.css
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-3.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index.css
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index.js
  example/output/REPORTS/procs/ProcessWithoutHeadings/index.css
  example/output/REPORTS/procs/ProcessWithoutHeadings/index.js
  pipen_report/frontend/package-lock.json
  pipen_report/frontend/package.json
Due: none

0.15.0
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

Add title prop to Descr component
  example/output/REPORTS/index/index.js
  example/output/REPORTS/procs/PG1/index.css
  example/output/REPORTS/procs/PG1/index.js
  example/output/REPORTS/procs/PG2/index.css
  example/output/REPORTS/procs/PG2/index.js
  example/output/REPORTS/procs/ProcessNoTOC/index.css
  example/output/REPORTS/procs/ProcessNoTOC/index.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-1.css
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-1.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-2.css
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-2.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-3.css
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-3.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index.css
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index.js
  example/output/REPORTS/procs/ProcessWithoutHeadings/index.css
  example/output/REPORTS/procs/ProcessWithoutHeadings/index.js
  example/pipeline.py
  pipen_report/frontend/src/components/Descr.svelte
Due: none

0.15.1
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

Set width and height to the lazy loading placeholder
  example/output/REPORTS/index/index.js
  example/output/REPORTS/procs/PG1/index.js
  example/output/REPORTS/procs/PG2/index.js
  example/output/REPORTS/procs/ProcessNoTOC/index.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-1.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-2.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-3.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index.js
  example/output/REPORTS/procs/ProcessWithoutHeadings/index.js
  example/pipeline.py
  pipen_report/frontend/src/components/Image/Image.svelte
Due: none

0.15.2
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

Add height:auto to maintain aspect ratio of Image
  pipen_report/frontend/public/assets/global.css
Due: none

Fix image loading height in global.css
  pipen_report/frontend/public/assets/global.css
Due: none

0.15.3
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

Fix image height in global.css
  pipen_report/frontend/public/assets/global.css
Due: none

Add width and height to Image tag so loading indicators have same size
  example/output/REPORTS/assets/global.css
  example/output/REPORTS/index/index.js
  example/output/REPORTS/procs/PG1/index.js
  example/output/REPORTS/procs/PG2/index.js
  example/output/REPORTS/procs/ProcessNoTOC/index.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-1.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-2.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-3.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index.js
  example/output/REPORTS/procs/ProcessWithoutHeadings/index.js
  example/pipeline.py
  pipen_report/preprocess.py
  poetry.lock
Due: flake8

Set sep to TAB for datatable filter
  pipen_report/filters.py
  tests/data/data.csv
Due: flake8

Allow add class and other attributes to `Descr` component
  pipen_report/frontend/src/components/Descr.svelte
Due: none

Allow set extra classes for Image component
  pipen_report/frontend/src/components/Image/Image.svelte
  pipen_report/frontend/src/components/Image/ImageInner.svelte
Due: none

Add filters: render_component, render_ui and render_job
  example/pipeline.py
  pipen_report/filters.py
  pipen_report/frontend/public/assets/global.css
  tests/test_filters.py
Due: flake8

Add carbon-preprocess-svelte package and optimize imports
  pipen_report/frontend/package-lock.json
  pipen_report/frontend/package.json
  pipen_report/frontend/rollup.config.js.jinja
Due: none

Update logo in README
  README.md
Due: none

Update docs, using mkdocs-rtd
  .github/workflows/docs.yml
  docs/cli.md
  docs/configurations.md
  docs/favicon.png
  docs/filters.md
  docs/folder-structure.md
  docs/img/favicon.ico
  docs/logo.png
  docs/rendering.md
  docs/style.css
  docs/writing.md
  example/output/ProcessNoTOC/report.json
  example/output/ProcessWithPagingWithAVeryLongProcessName/report.json
  example/output/ProcessWithPagingWithAVeryLongProcessName/table.txt
  example/output/REPORTS/assets/global.css
  example/output/REPORTS/index/index.css
  example/output/REPORTS/index/index.js
  example/output/REPORTS/procs/PG1/index.css
  example/output/REPORTS/procs/PG1/index.js
  example/output/REPORTS/procs/PG2/index.css
  example/output/REPORTS/procs/PG2/index.js
  example/output/REPORTS/procs/ProcessNoTOC/index.css
  example/output/REPORTS/procs/ProcessNoTOC/index.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-1.css
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-1.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-2.css
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-2.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-3.css
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-3.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index.css
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index.js
  example/output/REPORTS/procs/ProcessWithoutHeadings/index.css
  example/output/REPORTS/procs/ProcessWithoutHeadings/index.js
  mkdocs.yml
Due: none

Update docs/requirements.txt
  docs/requirements.txt
Due: none

Remove emoji extension from mkdocs.yml
  mkdocs.yml
Due: none

Add pillow library
  poetry.lock
  pyproject.toml
Due: versionchecker

Fix missing import for PILImage in preprocess.py
  pipen_report/preprocess.py
Due: flake8

Fix poetry installation in docs.yml
  .github/workflows/docs.yml
Due: none

Update copier version to 9.1.0 and colorama version to 0.4.6
  .github/workflows/docs.yml
  poetry.lock
  pyproject.toml
Due: versionchecker

Update favicon
  docs/img/favicon.ico
  example/output/REPORTS/assets/favicon.png
  example/output/REPORTS/index/index.js
  example/output/REPORTS/procs/PG1/index.js
  example/output/REPORTS/procs/PG2/index.js
  example/output/REPORTS/procs/ProcessNoTOC/index.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-1.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-2.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-3.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index.js
  example/output/REPORTS/procs/ProcessWithoutHeadings/index.js
  pipen_report/frontend/public/assets/favicon.png
  poetry.lock
  pyproject.toml
Due: versionchecker

Allow to register components and uis for filters: render_component, render_ui and render_job
  docs/filters.md
  pipen_report/filters.py
  tests/test_filters.py
Due: flake8

Make proc list one column for narrow screen on index page
  pipen_report/frontend/src/pages/_index/index.svelte
Due: none

Make proc group card on index page expand on top, instead of bottom, when short of space
  pipen_report/frontend/src/layouts/ProcGroupCard.svelte
Due: none

Make g10 as default theme
  pipen_report/frontend/src/layouts/Header.svelte
Due: none

Add width style to .head-util so the right part of the header do not hide when resizing
  pipen_report/frontend/src/layouts/Header.svelte
Due: none

Add space to bottom of the index page
  pipen_report/frontend/src/layouts/Index.svelte
Due: none
