Repository pwwang/pipen-report: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
    # -   id: end-of-file-fixer
    -   id: check-yaml
        exclude: 'mkdocs.yml'
-   repo: local
    hooks:
    -   id: flake8
        name: Run flake8
        files: ^pipen_report/.+$
        pass_filenames: false
        entry: flake8
        args: [pipen_report]
        types: [python]
        language: system
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version " $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver pipen_report/versions.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|pipen_report/versions\.py$

feat(front): add base64 encoding for Math tag content where the braces can avoided to be translate by svelte
  example/pipeline.py
  pipen_report/frontend/src/components/Math.svelte
  pipen_report/preprocess.py
Due: flake8

0.23.4
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

chore(deps): bump pipen to 0.17.8
  poetry.lock
Due: none

chore(deps): move docs dependencies to pypoetry.toml
  .github/workflows/docs.yml
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: versionchecker

chore: update frontend dependencies in package-lock.json
  pipen_report/frontend/package-lock.json
Due: none

0.23.5
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

fix(ui): fix the theme selector not aligning to the right
  example/output/REPORTS/pages/PG1.css
  example/output/REPORTS/pages/PG1.js
  example/output/REPORTS/pages/PG2.css
  example/output/REPORTS/pages/PG2.js
  example/output/REPORTS/pages/ProcessNoTOC.css
  example/output/REPORTS/pages/ProcessNoTOC.js
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-1.css
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-1.js
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-2.css
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-2.js
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-3.css
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-3.js
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName.css
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName.js
  example/output/REPORTS/pages/ProcessWithoutHeadings.css
  example/output/REPORTS/pages/ProcessWithoutHeadings.js
  example/output/REPORTS/pages/_index.css
  example/output/REPORTS/pages/_index.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-9O9W9pdo.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-BI6qdtMe.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-BmgV6kik.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-CDX2Z1h5.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-CFosMz7L.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-COpBE8r5.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-CRCXCka5.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-CRmRR4g0.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-D2k8QWol.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-DAkV20cj.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-DP6MPqam.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-DQFppMgC.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-DXcL28u0.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-gkEoA5pN.js
  example/output/REPORTS/pages/vendor/carbon-icons-svelte-CSBYagYv.js
  example/output/REPORTS/pages/vendor/svelte-DihFFgNg.js
  pipen_report/frontend/src/layouts/Header.svelte
Due: none

chore: update dependencies
  pipen_report/frontend/package-lock.json
  poetry.lock
Due: none

0.23.6
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

fix: fix rsync_to_cloud function not syncing folders
  pipen_report/utils.py
Due: flake8

fix: fix preprocessing with gbatch scheduler
  pipen_report/report_manager.py
Due: flake8

style: improve formatting in _preprocess_math function
  pipen_report/preprocess.py
Due: flake8

fix: update path handling in render_job and _render_table functions
  pipen_report/filters.py
Due: flake8

chore(deps): bump pipen to 0.17.11
  poetry.lock
Due: none

fix: ensure path is converted to string in _render_table
  pipen_report/filters.py
  tests/test_filters.py
Due: flake8

chore: update .gitignore to include git bundle files
  .gitignore
Due: none

0.23.7
  docs/CHANGELOG.md
  pipen_report/versions.py
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

fix: fix paging handling
  example/output/REPORTS/index.html
  example/output/REPORTS/pages/PG1.js
  example/output/REPORTS/pages/PG2.js
  example/output/REPORTS/pages/ProcessNoTOC.js
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-1.js
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-2.js
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-3.js
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName.js
  example/output/REPORTS/pages/ProcessWithoutHeadings.js
  example/output/REPORTS/pages/_index.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-9O9W9pdo.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-BI6qdtMe.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-CPw_tlXF.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-Dk9J74y-.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-gkEoA5pN.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-iGromf5Z.js
  pipen_report/frontend/public/index.html
  pipen_report/frontend/rollup.config.js.jinja
  pipen_report/frontend/src/components/PageNavButton.svelte
  pipen_report/frontend/src/layouts/ProcToc.svelte
Due: none

chore(deps): bump pipen to 0.17.13
  poetry.lock
Due: none

chore(frontend): bump up frontend dependencies
  pipen_report/frontend/package-lock.json
Due: none

0.23.8
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

feat: add patch copier for fail-safe chmod handling
  pipen_report/__init__.py
  pipen_report/_patch_copier.py
Due: flake8

chore: bump frontend dependencies to latest versions
  pipen_report/frontend/package-lock.json
Due: none

0.23.9
  docs/CHANGELOG.md
  pipen_report/versions.py
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

chore: update front end deps
  pipen_report/frontend/package-lock.json
Due: none

chore: require copier at least v9.5
  poetry.lock
  pyproject.toml
Due: versionchecker

chore: suppress DeprecationWarning for copier v9.10
  pipen_report/_patch_copier.py
Due: flake8

chore: bump frontend @ibm/telemetry-js to 1.10.2 and @jridgewell/trace-mapping to 0.3.31
  pipen_report/frontend/package-lock.json
Due: none

chore: set instantiate to True in PipenReport class
  pipen_report/report_plugin.py
Due: flake8

0.23.10
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

fix: escape HTML in render_job headings
  pipen_report/filters.py
Due: flake8

0.23.11
  docs/CHANGELOG.md
  pipen_report/versions.py
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

chore: bump yunpath to 0.0.5
  poetry.lock
Due: none
