Repository pwwang/pipen-report: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - pipen_report
  language: system

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  ...

feat: optimize npm checking and dir setting up
  pipen_report/frontend/copier.yml
  pipen_report/report_manager.py
Due: flake8

fix: ensure extlibs directory is created without errors
  pipen_report/report_manager.py
Due: flake8

fix: update nmdir handling in _update command
  pipen_report/cli.py
Due: flake8

tests: update subprocess calls to use sys.executable
  tests/test_cli.py
Due: none

chore: update frontend dependencies
  pipen_report/frontend/package-lock.json
Due: none

chore: update dependencies
  poetry.lock
Due: none

0.23.12
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

fix: fix https link being treated as cloud path by cloudpathlib v0.23+
  pipen_report/preprocess.py
Due: flake8

feat: support bunjs as frontend builder
  pipen_report/report_manager.py
Due: flake8

0.23.13
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

feat: add copilot instructions for pipen-report
  .github/copilot-instructions.md
Due: none

feat: update import assertion for data.json to adopt node v22+
  pipen_report/frontend/rollup.config.js.jinja
Due: none

ci: update node version to 22.x
  .github/workflows/build.yml
Due: none

0.23.14
  docs/CHANGELOG.md
  pipen_report/frontend/package-lock.json
  pipen_report/versions.py
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

fix: update _path_to_url and related functions to use run_meta for path handling
  pipen_report/preprocess.py
  pipen_report/report_manager.py
  pipen_report/report_plugin.py
  tests/test_preproc.py
Due: flake8

feat: enhance cache function to include content from preprocess.py for signature generation
  pipen_report/utils.py
Due: flake8

chore: update frontend deps
  pipen_report/frontend/package-lock.json
Due: none

chore: update output using updated code
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-1.css
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-1.js
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-2.css
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-2.js
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-3.css
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-3.js
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName.css
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName.js
  example/output/REPORTS/pages/_index.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-Cgdtbtuw.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-D-1vf6P_.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-DC4lcbN3.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-DGuCyXJQ.js
  example/output/REPORTS/pages/vendor/carbon-icons-svelte-B3qh5xT8.js
  example/output/REPORTS/pages/vendor/svelte-DJs6hPx-.js
  example/output/REPORTS/pages/vendor/svelte-DZd0WFin.js
  example/output/REPORTS/pages/vendor/temml-ClpEJTI8.js
Due: none

fix: remove debug print statements from _path_to_url function
  pipen_report/preprocess.py
Due: flake8

fix: update run_meta to use MountedPath for mounted directories in ReportManager
  pipen_report/preprocess.py
  pipen_report/report_manager.py
  tests/test_preproc.py
Due: flake8

feat: add ImageProcessNonexport class in the examples
  example/pipeline-cloud1.py
  example/pipeline-cloud2.py
  example/pipeline-cloud3.py
  example/pipeline.py
Due: none

fix: update cachedir_for_cloud handling in PipenReport to respect gcs_cache option
  pipen_report/report_plugin.py
Due: flake8

fix: update _path_to_url to return content-accessible path and handle image dimensions
  example/pipeline.py
  pipen_report/preprocess.py
  tests/test_preproc.py
Due: flake8

test: correct formatting of Image component in test_preprocess2
  tests/test_preproc.py
Due: none

fix: update node engine version requirement to support Node.js 22.x
  pipen_report/frontend/package-lock.json
  pipen_report/frontend/package.json
Due: none

0.23.15
  docs/CHANGELOG.md
  pipen_report/versions.py
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

chore: update pipen and related dependencies to version 1.0
  poetry.lock
  pyproject.toml
Due: versionchecker

fix: update devDependencies for @rollup/plugin-commonjs and carbon-components-svelte
  pipen_report/frontend/package-lock.json
  pipen_report/frontend/package.json
Due: none

1.0.0
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

fix: improve filter 'datatable' column handling when column names are integers (no column names)
  pipen_report/filters.py
Due: flake8

1.0.1
  docs/CHANGELOG.md
  pipen_report/versions.py
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

fix(frontend): ensure pageSize is included in pageSizes and sorted correctly for DataTable component
  example/pipeline.py
  pipen_report/frontend/src/components/DataTable/DataTableInner.svelte
Due: none

1.0.2
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

Path conditions:
  flake8: any of: ^pipen_report/.+$ and \.py$
  versionchecker: any of: ^pyproject\.toml|pipen_report/versions\.py$
