Repository pwwang/pipen-report: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - pipen_report
  language: system

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  ...

fix: update build system requirements to use poetry-core (1.0.2)
  pyproject.toml
Due: versionchecker

chore: update pipen dependencies to version 1.1 and adjust related packages
  poetry.lock
  pyproject.toml
Due: versionchecker

test: add pytest-asyncio dependency and update pytest options
  poetry.lock
  pyproject.toml
Due: versionchecker

fix: replace AnyPath with PanPath for improved path handling in filters
  pipen_report/filters.py
Due: flake8

feat: add async regex replacement and image size retrieval functions
  pipen_report/utils.py
  tests/test_utils.py
Due: flake8

test: add additional assertion for datatable with no header
  tests/test_filters.py
Due: none

refactor: replace Path with PanPath for improved path handling and clean up code formatting
  pipen_report/cli.py
  tests/test_cli.py
Due: flake8

refactor: streamline report plugin initialization and improve cloud path handling
  pipen_report/report_plugin.py
Due: flake8

refactor: convert synchronous methods to asynchronous for improved performance and responsiveness
  pipen_report/report_manager.py
Due: flake8

refactor: convert path handling to use PanPath and update functions for async processing
  pipen_report/preprocess.py
  tests/test_preproc.py
Due: flake8

test: exclude coverage for copier patch
  pipen_report/_patch_copier.py
Due: flake8

chore: update rollup and related packages to version 4.54.0
  pipen_report/frontend/package-lock.json
Due: none

chore: update dependencies in pyproject.toml and poetry.lock
  poetry.lock
  pyproject.toml
Due: versionchecker

fix: enhance a_copy_all to support caching for cloud paths
  example/pipeline-cloud3.py
  pipen_report/preprocess.py
  pipen_report/report_manager.py
  pipen_report/utils.py
Due: flake8

docs: update example scripts to enhance descriptions and clarify usage of cloud paths
  example/pipeline-cloud1.py
  example/pipeline-cloud2.py
  example/pipeline-cloud3.py
Due: none

1.1.0
  docs/CHANGELOG.md
  pipen_report/versions.py
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

chore: update frontend deps
  pipen_report/frontend/package-lock.json
Due: none

feat: add Plotly component rendering function
  pipen_report/filters.py
  tests/test_filters.py
Due: flake8

1.1.1
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

chore: update dependencies
  poetry.lock
Due: none

fix(ui): update image table layout to stretch content
  pipen_report/frontend/public/assets/global.css
Due: none

1.1.2
  docs/CHANGELOG.md
  pipen_report/frontend/package-lock.json
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

fix: sort jobs by index in rendering data
  pipen_report/report_manager.py
Due: flake8

chore: bump up dependencies
  poetry.lock
Due: none

chore: bump up frontend dependencies
  pipen_report/frontend/package-lock.json
Due: none

1.1.3
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

chore(ui): add gap to the right for theme selector on the home page
  pipen_report/frontend/public/assets/global.css
Due: none

feat: integrate page-chat functionality into the frontend
  example/pipeline.py
  pipen_report/frontend/package-lock.json
  pipen_report/frontend/package.json
  pipen_report/frontend/public/assets/global.css
  pipen_report/frontend/public/index.html
  pipen_report/frontend/rollup.config.js.jinja
  pipen_report/frontend/src/data.json
  pipen_report/frontend/src/layouts/Header.svelte
  pipen_report/frontend/src/layouts/Index.svelte
  pipen_report/frontend/src/layouts/ProcLayout.svelte
  pipen_report/frontend/src/pages/_index/index.js
  pipen_report/frontend/src/pages/_index/index.svelte
  pipen_report/frontend/src/pages/proc/index.js.jinja
  pipen_report/frontend/src/pages/proc/index.svelte
  pipen_report/report_manager.py
  pipen_report/report_plugin.py
Due: flake8

chore(ui): remove unnecessary css file
  pipen_report/frontend/public/assets/ccs.css
Due: none

fix: improve node_modules handling and symlink creation
  pipen_report/report_manager.py
Due: flake8

chore: update page-chat dependency to version 0.1
  pipen_report/frontend/package-lock.json
  pipen_report/frontend/package.json
Due: none

feat: enhance page chat initialization with persistence and update on mount
  pipen_report/frontend/src/layouts/Header.svelte
Due: none

chore: update carbon-icons-svelte to version 13.10.0
  pipen_report/frontend/package-lock.json
Due: none

1.2.0
  docs/CHANGELOG.md
  pipen_report/versions.py
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

chore: update @page-chat dependencies to version 0.1.1
  pipen_report/frontend/package-lock.json
Due: none

chore: update @page-chat packages to version 0.1.2
  pipen_report/frontend/package-lock.json
Due: none

chore: update list class for chatbot limitations in Header.svelte (1.2.0)
  pipen_report/frontend/src/layouts/Header.svelte
Due: none

Path conditions:
  flake8: any of: ^pipen_report/.+$ and \.py$
  versionchecker: any of: ^pyproject\.toml|pipen_report/versions\.py$
