Repository pwwang/pipen-report: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
    # -   id: end-of-file-fixer
    -   id: check-yaml
        exclude: 'mkdocs.yml'
-   repo: local
    hooks:
    -   id: flake8
        name: Run flake8
        files: ^pipen_report/.+$
        pass_filenames: false
        entry: flake8
        args: [pipen_report]
        types: [python]
        language: system
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version " $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver pipen_report/versions.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|pipen_report/versions\.py$

docs: update example output
  example/output/PG1/placeholder.png
  example/output/PG1/plotly.html
  example/output/PG2/placeholder.png
  example/output/PG2/plotly.html
  example/output/ProcessNoTOC/placeholder.png
  example/output/ProcessWithPagingWithAVeryLongProcessName/placeholder.png
  example/output/ProcessWithoutHeadings/placeholder.png
  example/output/REPORTS/pages/PG1.js
  example/output/REPORTS/pages/PG2.js
  example/output/REPORTS/pages/ProcessNoTOC.js
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-1.js
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-2.js
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-3.js
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName.js
  example/output/REPORTS/pages/ProcessWithoutHeadings.js
  example/pipeline.py
Due: none

chore: add aspect-ratio and max-width to the Plotly component
  example/output/REPORTS/pages/PG1.css
  example/output/REPORTS/pages/PG1.js
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-1.css
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-2.css
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-3.css
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName.css
  pipen_report/frontend/src/components/Plotly.svelte
Due: none

0.21.2
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

chore: improve Plotly component with dynamic resizing
  pipen_report/frontend/src/components/Plotly.svelte
Due: none

0.21.3
  docs/CHANGELOG.md
  pipen_report/frontend/package.json
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

chore: update pytest-cov to version 6 in dev dependencies
  poetry.lock
  pyproject.toml
Due: versionchecker

feat: add markdown support for description rendering in reports
  example/pipeline.py
  pipen_report/filters.py
  tests/test_filters.py
Due: flake8

chore: specify Node.js engine version range in package.json
  pipen_report/frontend/package-lock.json
  pipen_report/frontend/package.json
Due: none

style: format code for improved readability and update max line length in tox.ini
  pipen_report/filters.py
  pipen_report/preprocess.py
  pipen_report/report_manager.py
  tests/test_preproc.py
  tox.ini
Due: flake8

feat: run 'npm install' instead of 'npm update' for first-time setup in CLI
  pipen_report/cli.py
  tests/test_cli.py
Due: flake8

chore: update rollup plugins and carbon-components-svelte to latest versions
  pipen_report/frontend/package-lock.json
  pipen_report/frontend/package.json
Due: none

0.21.4
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

feat: adopt the case where outdir is a cloud path (when pipen-gcs is applied)
  example/pipeline-cloud1.py
  pipen_report/report_manager.py
  pipen_report/report_plugin.py
  pipen_report/utils.py
Due: flake8

feat: enhance report manager to support cloud caching
  example/output/REPORTS/pages/PG1.js
  example/output/REPORTS/pages/PG2.js
  example/output/REPORTS/pages/ProcessNoTOC.js
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-1.js
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-2.js
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-3.js
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName.js
  example/output/REPORTS/pages/ProcessWithoutHeadings.js
  example/pipeline-cloud2.py
  pipen_report/preprocess.py
  pipen_report/report_manager.py
  pipen_report/report_plugin.py
  poetry.lock
  pyproject.toml
  tests/test_preproc.py
Due: flake8, versionchecker

fix: use ".spec" paths to render report templates
  pipen_report/report_manager.py
Due: flake8

chore(deps): update pipen dependency to version 0.16.0a7
  poetry.lock
  pyproject.toml
Due: versionchecker

feat: add example pipeline for gbatch scheduler
  .gitignore
  example/pipeline-cloud3.py
Due: none

chore(deps): update pipen dependency to version 0.16.0a8
  poetry.lock
  pyproject.toml
Due: versionchecker

feat: add ImageDimension component and integrate it into ImageDownloadList
  example/output/REPORTS/pages/PG1.css
  example/output/REPORTS/pages/PG1.js
  example/output/REPORTS/pages/PG2.css
  example/output/REPORTS/pages/PG2.js
  example/output/REPORTS/pages/ProcessNoTOC.css
  example/output/REPORTS/pages/ProcessNoTOC.js
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-1.css
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-1.js
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-2.css
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-2.js
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-3.css
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-3.js
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName.css
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName.js
  example/output/REPORTS/pages/ProcessWithoutHeadings.css
  example/output/REPORTS/pages/ProcessWithoutHeadings.js
  example/output/REPORTS/pages/_index.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-8ypGVrak.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-BNMV-0cb.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-CYDTQsin.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-C_HlnnmC.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-Cbhbh4_3.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-CgBda3LU.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-CnQN96UG.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-DZGHMduw.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-DixKLMia.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-Dph0638f.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-uRqw8t2l.js
  example/output/REPORTS/pages/vendor/svelte-d_uN1Exq.js
  example/pipeline.py
  pipen_report/frontend/src/components/Image/ImageDimension.svelte
  pipen_report/frontend/src/components/Image/ImageDownloadList.svelte
  pipen_report/frontend/src/components/Image/ImageInner.svelte
Due: none

0.22.0a1
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

0.22.0
  pipen_report/versions.py
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

chore(deps): update pipen and related dependencies to latest versions
  pipen_report/frontend/package-lock.json
  pipen_report/report_manager.py
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

0.23.0
  docs/CHANGELOG.md
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-1.js
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-2.js
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-3.js
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName.js
  example/output/REPORTS/pages/_index.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-CsdB8au5.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-DO5JMKZb.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-DhNaGSWP.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-_7WxDyry.js
  example/output/REPORTS/pages/vendor/svelte-d_uN1Exq.js
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

chore: suppress UserWarning when initializing GSClient in ReportManager
  pipen_report/frontend/package-lock.json
  pipen_report/report_manager.py
Due: flake8

chore: update poetry.lock
  poetry.lock
Due: none

0.23.1
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

feat: enhance ReportManager to support multiple cloud clients for outdir and workdir
  pipen_report/report_manager.py
Due: flake8

chore: bump up frontend deps
  pipen_report/frontend/package-lock.json
Due: none

0.23.2
  docs/CHANGELOG.md
  pipen_report/versions.py
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

enh(font): update tab titles to show full names on hover
  example/pipeline.py
  pipen_report/frontend/public/index.html
Due: none

feat(front): add Math component for rendering LaTeX expressions
  example/pipeline.py
  pipen_report/frontend/package-lock.json
  pipen_report/frontend/package.json
  pipen_report/frontend/src/components/Math.svelte
  pipen_report/frontend/src/components/index.js
Due: none

chore: update dependencies
  poetry.lock
Due: none

0.23.3
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker
