Repository pwwang/pipen-report: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
    # -   id: end-of-file-fixer
    -   id: check-yaml
        exclude: 'mkdocs.yml'
-   repo: local
    hooks:
    -   id: flake8
        name: Run flake8
        files: ^pipen_report/.+$
        pass_filenames: false
        entry: flake8
        args: [pipen_report]
        types: [python]
        language: system
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version " $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver pipen_report/versions.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|pipen_report/versions\.py$

🔖 0.9.0
  docs/CHANGELOG.md
  pipen_report/versions.py
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

⬆️ Bump pipen to 0.10.0
  .gitignore
  example/output/REPORTS/index/index.js
  example/output/REPORTS/procs/processnotoc/index.js
  example/output/REPORTS/procs/processwithpaging/index-1.js
  example/output/REPORTS/procs/processwithpaging/index-2.js
  example/output/REPORTS/procs/processwithpaging/index-3.js
  example/output/REPORTS/procs/processwithpaging/index.js
  poetry.lock
  pyproject.toml
Due: versionchecker

⬆️ Update frontend dependencies
  pipen_report/frontend/package-lock.json
  pipen_report/frontend/package.json
Due: none

🐛 Adopt pipen 0.10.0
  pipen_report/report_plugin.py
Due: flake8

✏️ Change `>` to `$` as command hint in logs
  pipen_report/report_manager.py
Due: flake8

🔖 0.10.0
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

➖ Remove cmdy
  pipen_report/cli.py
  pipen_report/report_manager.py
  poetry.lock
  pyproject.toml
  tests/test_cli.py
Due: flake8, versionchecker

🐛 Fix unnecessary npm output showing in logs
  example/output/REPORTS/index/index.js
  example/output/REPORTS/procs/processnotoc/index.js
  example/output/REPORTS/procs/processwithpaging/index-1.js
  example/output/REPORTS/procs/processwithpaging/index-2.js
  example/output/REPORTS/procs/processwithpaging/index-3.js
  example/output/REPORTS/procs/processwithpaging/index.js
  pipen_report/report_manager.py
Due: flake8

✨ Add running information
  example/output/REPORTS/assets/global.css
  example/output/REPORTS/index/index.js
  example/output/REPORTS/procs/processnotoc/index.js
  example/output/REPORTS/procs/processwithpaging/index-1.js
  example/output/REPORTS/procs/processwithpaging/index-2.js
  example/output/REPORTS/procs/processwithpaging/index-3.js
  example/output/REPORTS/procs/processwithpaging/index.js
  pipen_report/frontend/public/assets/global.css
  pipen_report/frontend/src/layouts/Footer.svelte
  pipen_report/frontend/src/layouts/ProcLayout.svelte
  pipen_report/frontend/src/pages/proc/index.svelte
  pipen_report/report_manager.py
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

🔖 0.11.0
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

✨ Allow collapse proc groups
  .gitignore
  docs/configurations.md
  example/pipeline.py
  pipen_report/frontend/public/assets/global.css
  pipen_report/frontend/rollup.config.js.jinja
  pipen_report/frontend/src/data.json
  pipen_report/frontend/src/layouts/Header.svelte
  pipen_report/frontend/src/layouts/Index.svelte
  pipen_report/frontend/src/layouts/ProcCard.svelte
  pipen_report/frontend/src/layouts/ProcGroupCard.svelte
  pipen_report/frontend/src/layouts/ProcLayout.svelte
  pipen_report/frontend/src/pages/_index/index.js
  pipen_report/frontend/src/pages/_index/index.svelte
  pipen_report/frontend/src/pages/proc/index.svelte
  pipen_report/report_manager.py
  pipen_report/report_plugin.py
  tests/test_manager.py
  tests/test_reporter.py
Due: flake8

🎨 Improve logging in building process
  pipen_report/report_manager.py
  pipen_report/report_plugin.py
Due: flake8

✅ Fix tests
  pipen_report/frontend/package-lock.json
  poetry.lock
  tests/test_manager.py
  tests/test_preproc.py
Due: none

🔖 0.12.0
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

⬆️ Bump pipen-runinfo to 0.2
  poetry.lock
  pyproject.toml
Due: versionchecker

📝 Update example with proc group
  example/output/PG1/placeholder.png
  example/output/PG2/placeholder.png
  example/output/REPORTS/assets/global.css
  example/output/REPORTS/index/index.js
  example/output/REPORTS/procs/PG1/index.css
  example/output/REPORTS/procs/PG1/index.html
  example/output/REPORTS/procs/PG1/index.js
  example/output/REPORTS/procs/PG2/index.css
  example/output/REPORTS/procs/PG2/index.html
  example/output/REPORTS/procs/PG2/index.js
  example/output/REPORTS/procs/ProcessNoTOC/index.css
  example/output/REPORTS/procs/ProcessNoTOC/index.html
  example/output/REPORTS/procs/ProcessNoTOC/index.js
  example/output/REPORTS/procs/ProcessWithPaging/index-1.css
  example/output/REPORTS/procs/ProcessWithPaging/index-1.html
  example/output/REPORTS/procs/ProcessWithPaging/index-1.js
  example/output/REPORTS/procs/ProcessWithPaging/index-2.css
  example/output/REPORTS/procs/ProcessWithPaging/index-2.html
  example/output/REPORTS/procs/ProcessWithPaging/index-2.js
  example/output/REPORTS/procs/ProcessWithPaging/index-3.css
  example/output/REPORTS/procs/ProcessWithPaging/index-3.html
  example/output/REPORTS/procs/ProcessWithPaging/index-3.js
  example/output/REPORTS/procs/ProcessWithPaging/index.css
  example/output/REPORTS/procs/ProcessWithPaging/index.html
  example/output/REPORTS/procs/ProcessWithPaging/index.js
  example/output/REPORTS/procs/processnotoc/index.js
  example/output/REPORTS/procs/processwithpaging/index-1.js
  example/output/REPORTS/procs/processwithpaging/index-2.js
  example/output/REPORTS/procs/processwithpaging/index-3.js
  example/output/REPORTS/procs/processwithpaging/index.js
Due: none

🔖 0.12.1
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

💄 Fix procs in procgroups in index page being contained
  pipen_report/frontend/public/assets/global.css
Due: none

🔖 0.12.2
  docs/CHANGELOG.md
  pipen_report/versions.py
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

💄 Use new favicon
  example/output/REPORTS/assets/favicon.png
  pipen_report/frontend/public/assets/favicon.png
Due: none

🔖 0.12.3
  pipen_report/versions.py
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

💄 Truncate proc names with ellipses in navigator
  example/output/ProcessWithPagingWithAVeryLongProcessName/placeholder.png
  example/output/ProcessWithPagingWithAVeryLongProcessName/table.txt
  example/output/REPORTS/assets/favicon.png
  example/output/REPORTS/assets/global.css
  example/output/REPORTS/index/index.js
  example/output/REPORTS/procs/PG1/index.js
  example/output/REPORTS/procs/PG2/index.js
  example/output/REPORTS/procs/ProcessNoTOC/index.js
  example/output/REPORTS/procs/ProcessWithPaging/index-1.js
  example/output/REPORTS/procs/ProcessWithPaging/index-2.js
  example/output/REPORTS/procs/ProcessWithPaging/index-3.js
  example/output/REPORTS/procs/ProcessWithPaging/index.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-1.css
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-1.html
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-1.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-2.css
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-2.html
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-2.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-3.css
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-3.html
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-3.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index.css
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index.html
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index.js
  example/pipeline.py
  pipen_report/frontend/public/assets/favicon.png
  pipen_report/frontend/public/assets/global.css
  pipen_report/frontend/src/layouts/Header.svelte
Due: none

🔖 0.12.4
  pipen_report/versions.py
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

⬆️ Bump copier to 8.1 (requires pydantic < 2)
  pipen_report/cli.py
  pipen_report/frontend/package-lock.json
  pipen_report/report_manager.py
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

🔖 0.12.5
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

🧑‍💻 Update datatable generation in example
  example/pipeline.py
  pipen_report/frontend/public/assets/global.css
Due: none

💄 Make searchbox of DataTable persistent
  pipen_report/frontend/src/components/DataTable/DataTableInner.svelte
Due: none

🐛 Fix npm build logging to file
  pipen_report/report_manager.py
Due: flake8

✨ Add column selector to DataTable
  pipen_report/frontend/src/components/DataTable/ColumnSelector.svelte
  pipen_report/frontend/src/components/DataTable/DataTableInner.svelte
  pipen_report/frontend/src/components/DataTable/OverflowMenu.svelte
Due: none

📝 Update example
  example/output/ProcessWithPagingWithAVeryLongProcessName/table.txt
  example/output/REPORTS/assets/global.css
  example/output/REPORTS/data/placeholder.png.30b133d3
  example/output/REPORTS/index/index.js
  example/output/REPORTS/procs/PG1/index.css
  example/output/REPORTS/procs/PG1/index.js
  example/output/REPORTS/procs/PG2/index.css
  example/output/REPORTS/procs/PG2/index.js
  example/output/REPORTS/procs/ProcessNoTOC/index.css
  example/output/REPORTS/procs/ProcessNoTOC/index.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-1.css
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-1.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-2.css
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-2.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-3.css
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-3.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index.css
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index.js
Due: none

🔖 0.12.6
  docs/CHANGELOG.md
  pipen_report/frontend/src/components/DataTable/OverflowMenu.svelte
  pipen_report/versions.py
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

👷 Add codesandbox scripts
  .codesandbox/Dockerfile
  .codesandbox/setup.sh
  poetry.lock
Due: none

Fix order of procgroups in report
  pipen_report/report_manager.py
Due: flake8

0.12.7
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

⬆️ Update dependencies
  .codesandbox/setup.sh
  .codesandbox/tasks.json
  pipen_report/frontend/package-lock.json
  poetry.lock
Due: none

🐛 Fix report without headings
  .codesandbox/setup.sh
  example/output/ProcessWithoutHeadings/placeholder.png
  example/output/REPORTS/data/placeholder.png.a8473ab5
  example/output/REPORTS/index/index.js
  example/output/REPORTS/procs/PG1/index.js
  example/output/REPORTS/procs/PG2/index.js
  example/output/REPORTS/procs/ProcessNoTOC/index.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-1.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-2.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-3.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index.js
  example/output/REPORTS/procs/ProcessWithoutHeadings/index.css
  example/output/REPORTS/procs/ProcessWithoutHeadings/index.html
  example/output/REPORTS/procs/ProcessWithoutHeadings/index.js
  example/pipeline.py
  pipen_report/frontend/src/layouts/ProcLayout.svelte
Due: none

🔖 0.12.8
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

⬆️ Bump pipen to 0.11
  pipen_report/frontend/package-lock.json
  poetry.lock
  pyproject.toml
Due: versionchecker

⬆️ Bump up frontend deps
  example/output/REPORTS/index/index.js
  example/output/REPORTS/procs/PG1/index.js
  example/output/REPORTS/procs/PG2/index.js
  example/output/REPORTS/procs/ProcessNoTOC/index.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-1.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-2.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-3.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index.js
  example/output/REPORTS/procs/ProcessWithoutHeadings/index.js
  pipen_report/frontend/package-lock.json
  pipen_report/frontend/package.json
Due: none

🔖 0.13.0
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker
