Repository pwwang/pipen-report: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

.pre-commit-config.yaml:

fail_fast: true
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
    # -   id: end-of-file-fixer
    -   id: check-yaml
        exclude: 'mkdocs.yml'
-   repo: local
    hooks:
    -   id: flake8
        name: Run flake8
        files: ^pipen_report/.+$
        pass_filenames: false
        entry: flake8
        args: [pipen_report]
        types: [python]
        language: system
    -   id: versionchecker
        name: Check version agreement in pyproject and __version__
        entry: bash -c
        language: system
        args:
            - get_ver() { echo $(egrep "^__version|^version " $1 | cut -d= -f2 | sed 's/\"\| //g'); };
              v1=`get_ver pyproject.toml`;
              v2=`get_ver pipen_report/versions.py`;
              if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
        pass_filenames: false
        files: ^pyproject\.toml|pipen_report/versions\.py$

Make theme selector look better
  pipen_report/frontend/public/assets/global.css
Due: none

Change the background color of Accordion headers
  pipen_report/frontend/public/assets/global.css
Due: none

Add dropdown_switcher ui for render_ui and render_job filters
  example/pipeline.py
  pipen_report/filters.py
  tests/test_filters.py
Due: flake8

Scroll anchor into view on the page
  pipen_report/frontend/public/assets/global.css
  pipen_report/frontend/src/layouts/ProcToc.svelte
  pipen_report/frontend/src/pages/proc/index.svelte
Due: none

Build report when process is done, instead of the whole pipeline
  example/output/ProcessNoTOC/report.json
  example/output/ProcessWithPagingWithAVeryLongProcessName/report.json
  example/output/REPORTS/assets/global.css
  example/output/REPORTS/data/placeholder.png.02170507
  example/output/REPORTS/data/placeholder.png.30b133d3
  example/output/REPORTS/data/placeholder.png.a8473ab5
  example/output/REPORTS/index/index.css
  example/output/REPORTS/index/index.js
  example/output/REPORTS/procs/PG1/index.css
  example/output/REPORTS/procs/PG1/index.js
  example/output/REPORTS/procs/PG2/index.css
  example/output/REPORTS/procs/PG2/index.js
  example/output/REPORTS/procs/ProcessNoTOC/index.css
  example/output/REPORTS/procs/ProcessNoTOC/index.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-1.css
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-1.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-2.css
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-2.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-3.css
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-3.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index.css
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index.js
  example/output/REPORTS/procs/ProcessWithoutHeadings/index.css
  example/output/REPORTS/procs/ProcessWithoutHeadings/index.js
  pipen_report/defaults.py
  pipen_report/frontend/public/assets/global.css
  pipen_report/frontend/rollup.config.js.jinja
  pipen_report/frontend/src/pages/_index/index.js
  pipen_report/report_manager.py
  pipen_report/report_plugin.py
  pipen_report/utils.py
Due: flake8

Remove dest file when npm build fails (so that it won't be cached)
  pipen_report/report_manager.py
Due: flake8

Copy file only when its path is absolute in preprocessing
  pipen_report/preprocess.py
Due: flake8

Update global.css file
  pipen_report/frontend/public/assets/global.css
Due: none

Make up test coverage
  pipen_report/cli.py
  pipen_report/filters.py
  pipen_report/frontend/package-lock.json
  pipen_report/preprocess.py
  pipen_report/report_manager.py
  pipen_report/utils.py
  tests/test_example.py
Due: flake8

0.16.0
  docs/CHANGELOG.md
  pipen_report/versions.py
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

Handle iframe src in preprocessing
  pipen_report/preprocess.py
Due: flake8

0.16.1
  docs/CHANGELOG.md
  pipen_report/versions.py
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

Fix home page caching issue
  pipen_report/report_manager.py
Due: flake8

0.16.2
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

Update frontend deps
  pipen_report/frontend/package-lock.json
Due: none

Fix tests for home page caching
  pipen_report/report_manager.py
Due: flake8

Update CHANGELOG
  docs/CHANGELOG.md
Due: none

fix: show index in datatable filter if any
  pipen_report/filters.py
Due: flake8

fix: exit pipeline when report building fails
  pipen_report/report_manager.py
Due: flake8

0.16.3
  docs/CHANGELOG.md
  pipen_report/versions.py
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

0.16.3 (fix tests)
  pipen_report/frontend/package-lock.json
  tests/data/data.csv
  tests/data/data2.csv
  tests/test_filters.py
Due: none

deps: bump pipen to 0.13
  example/output/REPORTS/assets/global.css
  example/output/REPORTS/data/placeholder.bb1a7f14.png
  example/output/REPORTS/index/index.js
  example/output/REPORTS/procs/PG1/index.js
  poetry.lock
  pyproject.toml
Due: versionchecker

0.17.0
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

fix: fix toc links when index.html is hidden in url
  pipen_report/frontend/package-lock.json
  pipen_report/frontend/src/layouts/ProcToc.svelte
Due: none

0.17.1
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

docs: center logo in readme
  README.md
Due: none

feat: add `Iframe` component so loading is indicated
  example/pipeline.py
  pipen_report/frontend/src/components/Iframe.svelte
  pipen_report/frontend/src/components/index.js
  pipen_report/preprocess.py
Due: flake8

0.17.2
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

fix: fix but when report_no_collapse_pgs is true
  pipen_report/frontend/package-lock.json
  pipen_report/report_manager.py
Due: flake8

0.17.3
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

deps: bump pipen to 0.14 (drop python3.8 support)
  pipen_report/filters.py
  pipen_report/frontend/package-lock.json
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

deps: use imagesize instead of pillow
  example/output/REPORTS/index/index.js
  example/output/REPORTS/procs/PG1/index.css
  example/output/REPORTS/procs/PG1/index.js
  example/output/REPORTS/procs/PG2/index.css
  example/output/REPORTS/procs/PG2/index.js
  example/output/REPORTS/procs/ProcessNoTOC/index.css
  example/output/REPORTS/procs/ProcessNoTOC/index.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-1.css
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-1.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-2.css
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-2.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-3.css
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-3.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index.css
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index.js
  example/output/REPORTS/procs/ProcessWithoutHeadings/index.css
  example/output/REPORTS/procs/ProcessWithoutHeadings/index.js
  pipen_report/filters.py
  pipen_report/preprocess.py
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

fix: fix when path not eixsts when fetching image size
  pipen_report/filters.py
  pipen_report/preprocess.py
Due: flake8

0.18.0
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

enh: cache template rendering and preprocessing
  pipen_report/frontend/package-lock.json
  pipen_report/preprocess.py
  pipen_report/report_manager.py
  pipen_report/utils.py
Due: flake8

0.18.1
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

fix: fix getting image size when path is None
  pipen_report/preprocess.py
Due: flake8

0.18.2
  docs/CHANGELOG.md
  pipen_report/versions.py
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

deps: bump pipen to 0.14.3
  poetry.lock
Due: none

fix: fix download button for DataTable
  example/output/ProcessWithPagingWithAVeryLongProcessName/report.json
  example/output/REPORTS/index/index.js
  example/output/REPORTS/procs/PG1/index.js
  example/output/REPORTS/procs/PG2/index.js
  example/output/REPORTS/procs/ProcessNoTOC/index.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-1.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-2.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-3.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index.js
  example/output/REPORTS/procs/ProcessWithoutHeadings/index.js
  example/pipeline.py
  pipen_report/filters.py
  pipen_report/frontend/src/components/DataTable/DataTableInner.svelte
Due: flake8
