Repository pwwang/pipen-report: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - pipen_report
  language: system

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  ...

⬆️ Upgrade frontend deps
  pipen_report/frontend/package-lock.json
Due: none

🩹 Fix background of theme selector
  example/output/REPORTS/assets/global.css
  example/output/REPORTS/build/datapreparation.css
  example/output/REPORTS/build/datapreparation.js
  example/output/REPORTS/build/datapreprocessing.css
  example/output/REPORTS/build/datapreprocessing.js
  example/output/REPORTS/build/deanalysis.css
  example/output/REPORTS/build/deanalysis.js
  example/output/REPORTS/build/index.css
  example/output/REPORTS/build/index.js
  pipen_report/frontend/public/assets/global.css
Due: none

0.0.7
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

🩹 Expand the TOC by default
  example/output/REPORTS/build/datapreparation.js
  example/output/REPORTS/build/datapreprocessing.js
  example/output/REPORTS/build/deanalysis.js
  example/output/REPORTS/build/index.js
  pipen_report/frontend/src/toc.tpl.svelte
Due: none

🔖 0.0.8
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

🐛 Allow relative script path to be inherited
  pipen_report/manager.py
Due: flake8

🔖 0.0.9
  docs/CHANGELOG.md
  example/output/REPORTS/build/datapreparation.js
  example/output/REPORTS/build/datapreprocessing.css
  example/output/REPORTS/build/datapreprocessing.js
  example/output/REPORTS/build/deanalysis.js
  example/output/REPORTS/build/index.css
  example/output/REPORTS/build/index.js
  pipen_report/manager.py
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

🐛 Fix larger nrows/ncols not working for datatable filter
  pipen_report/filters.py
Due: flake8

🐛 Fix multiple column alignment in index page
  pipen_report/frontend/src/index.tpl.svelte
Due: none

🔖 0.0.10
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

✨ Add process-level config `report_toc` to disable toc for a single process report
  example/RNAseq-analysis.py
  example/output/REPORTS/build/datapreparation.js
  example/output/REPORTS/build/datapreprocessing.css
  example/output/REPORTS/build/datapreprocessing.js
  example/output/REPORTS/build/deanalysis.js
  example/output/REPORTS/build/index.js
  pipen_report/frontend/src/layouts/Proc.svelte
  pipen_report/frontend/src/page.tpl.svelte
  pipen_report/manager.py
  pipen_report/reporter.py
Due: flake8

🔖 0.0.11
  docs/CHANGELOG.md
  docs/configurations.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

🐛 Fix #3 (same name toc link not working) and fix offset of toc links
  example/RNAseq-analysis.py
  example/output/DEAnalysis/results/heatmap.png
  example/output/DEAnalysis/results/results.txt
  example/output/DEAnalysis/results/venn.png
  example/output/DEAnalysis/results/vol.png
  example/output/REPORTS/assets/global.css
  example/output/REPORTS/build/datapreparation.css
  example/output/REPORTS/build/datapreparation.js
  example/output/REPORTS/build/datapreprocessing.js
  example/output/REPORTS/build/deanalysis.js
  example/output/REPORTS/build/index.css
  example/output/REPORTS/build/index.js
  example/reports/DEAnalysis.svelte
  example/scripts/DEAnalysis.R
  pipen_report/frontend/public/assets/global.css
  pipen_report/preproc.py
Due: flake8

🐛 Don't cache non-export processes (Fix #2); 🐛 Fix `report_force_export` not forcing process to export (#1)
  example/RNAseq-analysis.py
  example/Subset.svelte
  example/output/REPORTS/build/datapreparation.css
  example/output/REPORTS/build/datapreprocessing.css
  example/output/REPORTS/build/datapreprocessing.js
  example/output/REPORTS/build/index.css
  example/output/REPORTS/data/data_clustering.png.28f7e48b
  example/output/REPORTS/data/data_filtering.png.af849eae
  example/output/REPORTS/data/data_normalizing.png.3048dda6
  pipen_report/manager.py
  pipen_report/reporter.py
Due: flake8

🩹 Revert example
  example/output/REPORTS/build/datapreparation.js
  example/output/REPORTS/build/datapreprocessing.js
  example/output/REPORTS/build/deanalysis.js
  example/output/REPORTS/build/index.css
  example/output/REPORTS/build/index.js
  example/output/REPORTS/data/data_clustering.png.28f7e48b
  example/output/REPORTS/data/data_filtering.png.af849eae
  example/output/REPORTS/data/data_normalizing.png.3048dda6
Due: none

🔖 0.0.12
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

🐛 Fix issues when dot in column names at frontend for `DataTable` ⬆️ Upgrade frontend dependencies
  example/output/REPORTS/assets/global.css
  example/output/REPORTS/build/datapreparation.js
  example/output/REPORTS/build/datapreprocessing.js
  example/output/REPORTS/build/deanalysis.js
  example/output/REPORTS/build/index.js
  example/reports/DEAnalysis.svelte
  pipen_report/filters.py
  pipen_report/frontend/package-lock.json
  pipen_report/frontend/public/assets/global.css
Due: flake8

📝 Update change log
  docs/CHANGELOG.md
Due: none

Preprocess `embed` tag
  pipen_report/preproc.py
Due: flake8

0.0.13
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

Replace all irregular characters in df column names in datatable filter
  example/output/REPORTS/build/datapreparation.js
  example/output/REPORTS/build/datapreprocessing.js
  example/output/REPORTS/build/deanalysis.js
  example/output/REPORTS/build/index.js
  pipen_report/filters.py
Due: flake8

0.0.14
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

🐛 Fix min ncols wrongly using number of rows of df in datatable filter
  pipen_report/filters.py
Due: flake8

🔖 0.0.15
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

⬆️ Update frontend deps
  .gitignore
  example-largereport/largereport.py
  pipen_report/frontend/package-lock.json
Due: none

🐛 Make a patch to svelte compiler to fix "Max Stack Size Exceeded for huge HTML" (sveltejs/svelte#4694)
  pipen_report/frontend/Makefile
  pipen_report/frontend/package-lock.json
  pipen_report/frontend/package.json
  pipen_report/frontend/patch-svelte-compiler.js
Due: none

🔖 0.1.0
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

🐛 Add postinstall to patch svelte compiler
  pipen_report/frontend/package-lock.json
  pipen_report/frontend/package.json
Due: none

🔖 0.1.1
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

♻️ Front: Use the builtin pagination table from ccs (carbon-design-system/carbon-components-svelte#702)
  example/output/REPORTS/assets/global.css
  example/output/REPORTS/build/datapreparation.css
  example/output/REPORTS/build/datapreparation.js
  example/output/REPORTS/build/datapreprocessing.css
  example/output/REPORTS/build/datapreprocessing.js
  example/output/REPORTS/build/deanalysis.css
  example/output/REPORTS/build/deanalysis.js
  example/output/REPORTS/build/index.css
  example/output/REPORTS/build/index.js
  pipen_report/frontend/package-lock.json
  pipen_report/frontend/package.json
  pipen_report/frontend/public/assets/global.css
  pipen_report/frontend/src/components/DataTable/DataTableInner.svelte
  pipen_report/frontend/src/components/DataTable/PaginatedDataTable.svelte
Due: none

✨ Implement backend report paging
  example-largereport/largereport.py
  pipen_report/frontend/public/proc.tpl.html
  pipen_report/frontend/rollup.config.js
  pipen_report/frontend/src/entry.tpl.js
  pipen_report/frontend/src/page.tpl.svelte
  pipen_report/frontend/src/toc.tpl.svelte
  pipen_report/manager.py
  pipen_report/preproc.py
  pipen_report/reporter.py
Due: flake8

💥 Change config item `report_logging` to `report_loglevel`
  pipen_report/reporter.py
Due: flake8

✨ Implement frontend for report paging
  example-largereport/largereport.py
  example/RNAseq-analysis.py
  example/output/REPORTS/build/datapreparation.js
  example/output/REPORTS/build/datapreprocessing.css
  example/output/REPORTS/build/datapreprocessing.js
  example/output/REPORTS/build/deanalysis.js
  example/output/REPORTS/datapreparation.html
  example/output/REPORTS/datapreprocessing.html
  example/output/REPORTS/deanalysis.html
  pipen_report/frontend/public/assets/global.css
  pipen_report/frontend/src/components/PageNavButton/PageNavButton.svelte
  pipen_report/frontend/src/components/PageNavButton/index.js
  pipen_report/frontend/src/page.tpl.svelte
  pipen_report/frontend/src/toc.tpl.svelte
  pipen_report/manager.py
  pipen_report/preproc.py
Due: flake8

🔖 0.2.0
  docs/CHANGELOG.md
  docs/configurations.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

🔊 Warn when there are > sections in report but paging is disabled
  example-largereport/largereport.py
  pipen_report/manager.py
Due: flake8

🚑 Fix when there is no H1's in the report
  pipen_report/preproc.py
Due: flake8

🩹 De-highlight the H1's in TOC when there are H2's in there
  pipen_report/frontend/public/assets/global.css
Due: none

📝 Update example report
  example/output/REPORTS/assets/global.css
  example/output/REPORTS/build/datapreparation.js
  example/output/REPORTS/build/datapreprocessing.css
  example/output/REPORTS/build/datapreprocessing.js
  example/output/REPORTS/build/deanalysis.css
  example/output/REPORTS/build/deanalysis.js
  example/output/REPORTS/build/index.js
Due: none

🔖 0.2.1
  README.md
  docs/CHANGELOG.md
  pipen_report/frontend/package-lock.json
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

🐛 Fix report without H1 not getting preprocessed
  pipen_report/preproc.py
Due: flake8

Path conditions:
  flake8: any of: ^pipen_report/.+$ and \.py$
  versionchecker: any of: ^pyproject\.toml|pipen_report/versions\.py$
