Repository pwwang/pipen-report: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - pipen_report
  language: system

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  ...

🐛 Fix no toc generated when no H1 in report but report_toc is True
  example-largereport/largereport.py
  pipen_report/manager.py
Due: flake8

🔖 0.2.2
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

Allow datatable filter to exclude columns
  pipen_report/filters.py
Due: flake8

0.2.3
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

🐛 Fix preprocessing with tag attribute value is empty
  pipen_report/preproc.py
Due: flake8

✨ Implement a cli plugin for pipen
  pipen_report/__init__.py
  pipen_report/cli.py
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

🔖 0.3.0
  docs/CHANGELOG.md
Due: none

📌 Pin doc dep verions
  docs/requirements.txt
Due: none

✨ Allow injected jupyter html to collapse code
  .gitignore
  pipen_report/cli.py
  pipen_report/frontend/public/assets/inject.js
Due: flake8

📝 Add docs for CLI tools
  docs/cli.md
  mkdocs.yml
Due: none

📝 Update CHANGELOG.md
  docs/CHANGELOG.md
Due: none

Default title to the title tag instead of h1 for cli inject
  pipen_report/cli.py
Due: flake8

Pin dep versions
  .gitignore
  poetry.lock
  pyproject.toml
Due: versionchecker

Use on_init hook to init config
  pipen_report/reporter.py
Due: flake8

Upgrade frontend deps, so no longer need to patch svelte
  pipen_report/frontend/Makefile
  pipen_report/frontend/package-lock.json
  pipen_report/frontend/package.json
  pipen_report/frontend/patch-svelte-compiler.js
  pipen_report/frontend/src/components/DataTable/DataTableInner.svelte
  pipen_report/frontend/src/components/PageNavButton/PageNavButton.svelte
Due: none

Add tests
  .coveragerc
  .gitignore
  pipen_report/cli.py
  pipen_report/manager.py
  pipen_report/reporter.py
  poetry.lock
  pyproject.toml
  tests/__init__.py
  tests/data/data.csv
  tests/data/index.html
  tests/data/to_inject.html
  tests/data/to_inject_no_title.html
  tests/pipelines/__init__.py
  tests/pipelines/errant.py
  tests/pipelines/noreport.py
  tests/pipelines/single.py
  tests/test_cli.py
  tests/test_filters.py
  tests/test_reporter.py
  tox.ini
Due: flake8, versionchecker

Fix renaming report from process with name index
  pipen_report/manager.py
Due: flake8

Finish adding tests
  .github/workflows/build.yml
  pipen_report/manager.py
  pyproject.toml
  tests/data/x.png
  tests/pipelines/index.py
  tests/pipelines/noreport2.py
  tests/pipelines/paging.py
  tests/pipelines/paging.tpl
  tests/pipelines/regular.py
  tests/test_manager.py
  tests/test_preproc.py
  tests/test_reporter.py
Due: flake8, versionchecker

Update poetry.lock
  poetry.lock
Due: none

✅ Add tests for force_export and large reports
  example-largereport/largereport.py
  pipen_report/manager.py
  tests/pipelines/force_export.py
  tests/pipelines/large.py
  tests/test_manager.py
Due: flake8

🔖 0.3.1
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

⬆️ Update frontend deps
  .pre-commit-config.yaml
  pipen_report/frontend/package-lock.json
  pipen_report/frontend/package.json
Due: none

🔖 0.4.0
  docs/CHANGELOG.md
  pipen_report/versions.py
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

➖ Remove reduandent deps
  pyproject.toml
Due: versionchecker

⬆️ Upgrade xqute to v0.1
  poetry.lock
Due: none

🔖 0.4.1
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

⬆️ Update frontend deps
  pipen_report/frontend/package-lock.json
  pipen_report/frontend/package.json
Due: none

🐛 Fix the icon in DataTable and the example
  example/output/DataPreparation/nsamples_per_group.png
  example/output/DataPreparation/nsamples_per_lane.png
  example/output/REPORTS/assets/global.css
  example/output/REPORTS/build/datapreparation.js
  example/output/REPORTS/build/datapreprocessing.css
  example/output/REPORTS/build/datapreprocessing.js
  example/output/REPORTS/build/deanalysis.css
  example/output/REPORTS/build/deanalysis.js
  example/output/REPORTS/build/index.js
  example/scripts/DataPreparation.py
  pipen_report/frontend/src/components/DataTable/DataTableInner.svelte
Due: none

🔖 0.4.2
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

📝 Update README.md
  README.md
Due: none

✨ Add `update` cli subcommand to update frontend dependencies
  README.md
  pipen_report/cli.py
  pyproject.toml
  tests/test_cli_inject.py
  tests/test_cli_update.py
Due: flake8, versionchecker

🐛 Fix tag attributes missing in preprocessing
  pipen_report/preproc.py
Due: flake8

🔖 0.4.3
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

⬆️ Upgrade frontend deps
  pipen_report/frontend/package-lock.json
  pipen_report/frontend/package.json
Due: none

✨ Support Markdown tag
  pipen_report/preproc.py
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

✅ Add test for markdown tag
  .gitignore
  .pre-commit-config.yaml
  example/output/REPORTS/build/datapreparation.css
  example/output/REPORTS/build/datapreparation.js
  example/output/REPORTS/build/datapreprocessing.css
  example/output/REPORTS/build/datapreprocessing.js
  example/output/REPORTS/build/deanalysis.css
  example/output/REPORTS/build/deanalysis.js
  example/output/REPORTS/build/index.css
  example/output/REPORTS/build/index.js
  example/reports/DataPreprocessing.svelte
  tests/pipelines/markdown.py
  tests/test_preproc.py
Due: none

🔖 0.4.4
  .pre-commit-config.yaml
  docs/CHANGELOG.md
  docs/writing.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

🩹 Fix some situations with dead links
  pipen_report/frontend/package-lock.json
  pipen_report/manager.py
Due: flake8

🐛 Fix error when node_modules mislinked to file-alike (#4)
  pipen_report/frontend/package-lock.json
  pipen_report/manager.py
Due: flake8

⬆️ Update frontend deps
  example/output/REPORTS/build/datapreparation.css
  example/output/REPORTS/build/datapreparation.js
  example/output/REPORTS/build/datapreprocessing.js
  example/output/REPORTS/build/deanalysis.js
  example/output/REPORTS/build/index.js
  example/output/REPORTS/datapreparation.html
  example/output/REPORTS/datapreprocessing.html
  example/output/REPORTS/deanalysis.html
  pipen_report/frontend/package-lock.json
  pipen_report/frontend/package.json
Due: none

Path conditions:
  flake8: any of: ^pipen_report/.+$ and \.py$
  versionchecker: any of: ^pyproject\.toml|pipen_report/versions\.py$
