Repository pwwang/pipen-report: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - pipen_report
  language: system

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  ...

deps: bump frontend deps
  pipen_report/frontend/package-lock.json
Due: none

0.18.3
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

choir: remove caching for `_render_file()`
  example/output/REPORTS/index/index.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-1.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-2.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index-3.js
  example/output/REPORTS/procs/ProcessWithPagingWithAVeryLongProcessName/index.js
  example/output/REPORTS/procs/ProcessWithoutHeadings/index.js
  example/pipeline.py
  pipen_report/report_manager.py
Due: flake8

0.18.4
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

feat: indicate number of pages in log message
  pipen_report/report_manager.py
Due: flake8

0.18.5
  docs/CHANGELOG.md
  pipen_report/frontend/package-lock.json
  pipen_report/versions.py
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

ci: update ghp-import command to disable Jekyll processing
  .github/workflows/docs.yml
Due: none

deps: update frontend dependencies
  example/output/REPORTS/pages/PG1.css
  example/output/REPORTS/pages/PG1.js
  example/output/REPORTS/pages/PG2.css
  example/output/REPORTS/pages/PG2.js
  example/output/REPORTS/pages/ProcessNoTOC.css
  example/output/REPORTS/pages/ProcessNoTOC.js
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-1.css
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-1.js
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-2.css
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-2.js
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-3.css
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName-3.js
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName.css
  example/output/REPORTS/pages/ProcessWithPagingWithAVeryLongProcessName.js
  example/output/REPORTS/pages/ProcessWithoutHeadings.css
  example/output/REPORTS/pages/ProcessWithoutHeadings.js
  example/output/REPORTS/pages/_index.css
  example/output/REPORTS/pages/_index.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte--n1YaVl4.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-AGN8AxhL.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-B4Nmlo0O.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-Bfa_5SAG.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-Bmm_-K3Z.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-CH1Meqiv.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-C_5j-Pfp.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-DEN7YjX6.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-DFDHarPO.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-DIWgB368.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-DaFXPSwE.js
  example/output/REPORTS/pages/vendor/carbon-components-svelte-Z4LeO29Z.js
  pipen_report/frontend/package-lock.json
  pipen_report/frontend/package.json
Due: none

0.19.0rc
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

deps: bump pipen to 0.14.6 and other deps to latest version
  poetry.lock
  pyproject.toml
  tests/pipelines/errant.py
  tests/pipelines/extlibs.py
  tests/pipelines/force_export.py
  tests/pipelines/index.py
  tests/pipelines/large.py
  tests/pipelines/markdown_.py
  tests/pipelines/noreport.py
  tests/pipelines/noreport2.py
  tests/pipelines/paging.py
  tests/pipelines/regular.py
  tests/pipelines/single.py
Due: versionchecker

deps: bump frontend deps to latest version
  pipen_report/frontend/package-lock.json
  pipen_report/frontend/package.json
Due: none

ci: use latest actions
  .github/workflows/build.yml
Due: none

0.19.0
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

deps: bump pipen to 0.15
  poetry.lock
  pyproject.toml
Due: versionchecker

0.20.0
  .github/workflows/docs.yml
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

deps: bump pipen-runinfo to 0.8
  poetry.lock
  pyproject.toml
Due: versionchecker

0.20.1
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

deps: put pipen-runinfo into a extra dependency group
  poetry.lock
  pyproject.toml
Due: versionchecker

deps: bump xqute to 0.5.3
  poetry.lock
Due: none

test: update pyproject.toml to ignore deprecation warning
  pyproject.toml
Due: versionchecker

deps: add pillow as dev-dependency for test
  poetry.lock
  pyproject.toml
Due: versionchecker

deps: bump up frontend deps
  pipen_report/frontend/package-lock.json
Due: none

feat: add download bar for Image component
  example/pipeline.py
  pipen_report/frontend/public/assets/global.css
  pipen_report/frontend/src/components/Image/Image.svelte
  pipen_report/frontend/src/components/Image/ImageDownload.svelte
  pipen_report/frontend/src/components/Image/ImageDownloadList.svelte
  pipen_report/frontend/src/components/Image/ImageInner.svelte
  pipen_report/preprocess.py
  tests/__init__.py
  tests/test_preproc.py
Due: flake8

chore: add logging info when building each page
  pipen_report/report_manager.py
Due: flake8

feat: add 3 more icons for ImageDownload component
  pipen_report/frontend/src/components/Image/ImageDownload.svelte
Due: none

feat: add configuration `report_relpath_tags` to allow register components for properties to convert fs path to url
  docs/configurations.md
  docs/writing.md
  pipen_report/preprocess.py
  pipen_report/report_manager.py
  pipen_report/report_plugin.py
Due: flake8

fix: fix importing modules in external frontend modules
  docs/writing.md
  pipen_report/frontend/rollup.config.js.jinja
  pipen_report/report_manager.py
  tests/__init__.py
  tests/pipelines/extlibs.py
  tests/pipelines/extlibs/Component.svelte
  tests/pipelines/regular.py
  tests/test_preproc.py
Due: flake8

ci: update Python version to 3.10 and Node.js version to 20.x
  .github/workflows/build.yml
Due: none

test: move all forked test in front
  tests/test_preproc.py
Due: none

0.21.0
  docs/CHANGELOG.md
  pipen_report/versions.py
  poetry.lock
  pyproject.toml
Due: flake8, versionchecker

feat: Improve Iframe component with dynamic resizing and event dispatching
  pipen_report/frontend/src/components/Iframe.svelte
Due: none

feat: Add Plotly component for displaying interactive plots
  docs/writing.md
  example/pipeline.py
  example/plotly.html
  pipen_report/frontend/public/assets/global.css
  pipen_report/frontend/src/components/Plotly.svelte
  pipen_report/frontend/src/components/index.js
  pipen_report/preprocess.py
Due: flake8

feat: Add containerClass prop to Iframe component
  pipen_report/frontend/src/components/Iframe.svelte
Due: none

refactor: add annotations for the Image component properties and optimize the code
  pipen_report/frontend/src/components/Image/Image.svelte
Due: none

docs: add Plotly as registed relpath tags
  docs/writing.md
Due: none

0.21.1
  docs/CHANGELOG.md
  pipen_report/versions.py
  pyproject.toml
Due: flake8, versionchecker

Path conditions:
  flake8: any of: ^pipen_report/.+$ and \.py$
  versionchecker: any of: ^pyproject\.toml|pipen_report/versions\.py$
